<h1>Chuchu++ Analyzer: Transform Chuchu++ code to AST and Generate It's Javascript Code</h1>
<div id="content">
  <p>
  <nav>
  <ul>
  </ul>
  </nav>
  <table>
    <tr>
      <td>
        <form action="/save" method="post">
          <textarea id="input" name="input" 
                    autofocus cols = "40" rows = "4">
          </textarea>
          <br/>
        </form>
      </td>
	            <b>File options:</b><br> Save program to database as
          <input id="saveas" type="text" name="fname" 
                 title="name" pattern="\w+" /><button id="saveProgramButton" type="button">Save</button><br>Load program from file <input type="file" id="examples" /><br><br>
      <td><button id="parse" type="button">Parse code</button></td>
    </tr>
  </table>
  <div id="middleEvent"></div>
  </p>
  <div class="output">

<div id="output"></div> <!-- Output goes here! --> 

  </div>
</div>

<script src="js/codemirror/codemirror.js"></script>
<link rel="stylesheet" href="css/codemirror.css">
<script src="js/codemirror/mode/chuchuplusplus/chuchuplusplus.js"></script>
<script src="js/main.js"></script>
