<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chuchu++ - Landing Page</title>
    <link rel="icon" type="image/jpg" href="images/CompilerIcon.png" />
    <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>
  <div id="fondoAzul">
    <nav id="header">
      <ul>
		<li> <a href="/"  title="Home">Home</a> </li>
        <li> <a href="/grammar"  title="Grammar">Chuchu++ Docs</a> </li>
		<li> <a href="https://github.com/AdrianBZG/ChuchuPlusPlus/issues/new">Contribute to Chuchu++</a> </li>
		<li> <a href="https://github.com/AdrianBZG/ChuchuPlusPlus">Development Repo</a> </li>
		<li> <a href="https://github.com/AdrianBZG/ChuchuPlusPlus/issues">Work To-Do</a> </li>
		<li> <a href="/account">Account System</a> </li>
		<li> <a href="http://esprima.org/doc/">Esprima Parser</a> </li>
        <li> <a href="https://campusvirtual.ull.es/1516/course/view.php?id=178">Language Processors UDV</a> </li>
      </ul><br><img src="images/ChuchuLogo.png" width="256" height="64"><br><br><br>
    </nav>
	<nav id="loginHeader">
      <ul>
        <li> <a href="/login"  title="Login"><img src="images/Login-Button.png" width="128" height="128"></a> </li>
      </ul>
    </nav>
	</div>
    <%- body %>
	<nav id="footer">
      <ul>
        <li> Developers: </li>
        <li> <a href="https://github.com/AdrianBZG">Adrián Rodríguez Bazaga</a> </li>
        <li> <a href="https://github.com/Cicko">Rudolf Cicko</a> </li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li>Contact:</li>
		<li> <a href="mailto:arodriba@ull.edu.es">arodriba@ull.edu.es</a> </li>
      </ul>
    </nav>
  </body>
</html>
