body {
  font-family: Helvetica, Arial, sans-serif; background: #E4F1FE; }

h1 {
  color: #990033;
  font: 32px/1 Helvetica, Arial, sans-serif; }

header h1 {
  font-size: 40px;
  line-height: 80px;
  background: transparent url(/images/logo.png) 0 0 no-repeat;
  background-size: 5% 70%;
  padding-left: 84px; }

  
#fondoAzul {
background: #446CB3;
}
#header {
  font-weight: bold; 
  display: inline-block;
  
 }
  #header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #446CB3;
    overflow: hidden; }
  #header li {
    float: left; 
  }
  #header a {
    text-decoration: none;
    display: block;
    padding: 8px;
    background: #background: #446CB3;
    color: white; }
    #header a:hover {
      background: #59ABE3; }

#loginHeader {
  font-weight: bold; 
  display: inline-block;
  float:right;
  }
  #loginHeader ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #446CB3;
    overflow: hidden; }
  #loginHeader li {
    float: right; }
  #loginHeader a {
    text-decoration: none;
    display: block;
    padding: 8px;
    background: #background: #446CB3;
    color: white; }
    #loginHeader a:hover {
      background: #59ABE3; }

#footer {
  font-weight: bold;
  position:fixed;
  bottom:0;
  width: 100%;
}
  #footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #446CB3;
    overflow: hidden; }
  #footer li {
    float: left; 
	text-decoration: none;
    display: block;
    padding: 8px;
	}
  #footer a {
    background: #background: #446CB3;
	text-decoration: none;
    color: white; }
    #footer a:hover {
      background: #59ABE3; }
  
	  
p {
  font: 13px/1.4 Helvetica, Arial, sans-serif; }

label {
  display: block; }

nav a.current {
  background: #c4c4c4; }

.flash {
  width: 600px;
  padding: 5px;
  font-weight: bold;
  margin: 20px;
  background: #ffccdd;
  color: #990033;
  border: 1px solid #990033; }

#input {
  width: 1700px;
  height: 600px; }
  
#like p {
  font-weight: bold;
  color: #990033; }
#like input {
  background: #990033 url(/images/like.png) 0 2px no-repeat;
  border: #660022 1px solid;
  height: 28px;
  padding-left: 24px; }

.loadfile {
  background-color: #444444;
  border-radius: 5px;
  border: 2px solid #DDD;
  line-height: 80px;
  height: 20px;
  padding: 5px; }
  .loadfile button, .loadfile input {
    color: #444444;
    float: left;
    list-style: none;
    display: inline;
    text-align: center;
    font-weight: bolder; }
  .loadfile button:hover, .loadfile input:hover {
    cursor: pointer; }

.error {
  color: white;
  background-color: #990033; }
  
.success {
  color: white;
  background-color: #A2DED0; }

.centered {
  text-align: center; }
  
  /* #####################################################################
   #
   #   Project       : Modal Login with jQuery Effects
   #   Author        : Rodrigo Amarante (rodrigockamarante)
   #   Version       : 1.0
   #   Created       : 07/28/2015
   #   Last Change   : 08/02/2015
   #
   ##################################################################### */
   
@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
    font-family: 'Roboto', sans-serif;
}

#login-modal .modal-dialog {
    width: 350px;
}

#login-modal input[type=text], input[type=password] {
	margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
}

#img_logo {
    max-height: 100px;
    max-width: 100px;
}

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.glyphicon {
    top: 0px;
}

.form-control {
  border-radius: 0px;
}

